* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --title: #395B64;

}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.TodoCounter_container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TodoCounter_title {
    font-size: 3rem;
    color: var(--title);
    filter: none;
    position: relative;
    z-index: 0;
}
.TodoCounter_img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    position: absolute;
    filter: grayscale(100%);
    z-index: -1;
}
